<div class="jumbotron">
	<p>Goodlist spotlights socially responsible businesses and to allow users to to do the same. -Tim Killeen, founder</p>
</div>
<div class="container">
	<p>Code by <%= link_to "Chad Flores", "https://twitter.com/chadpflores" %> of <%= link_to "BuildRed", "http://buildred.co" %></p>
</div>