<div class="jumbotron">
	<div class="container">
		<p>Goodlist spotlights socially responsible businesses and allows users to do the same. </p>
		<p>-Tim Killeen, Founder</p>
	</div>
</div>
<div class="container">
	<p>Code by <%= link_to "Chad Flores", "https://twitter.com/chadpflores" %> of <%= link_to "BuildRed", "http://buildred.co" %></p>
</div>