<h1>About</h1>

<p>Tell me all about The Goodlist.</p>

<p>This app was build by <%= link_to "Chad Flores", "https://twitter.com/chadpflores" %> of <%= link_to "BuildRed", "http://buildred.co" %>.</p>
