<div class="container">

<div class="page-header">
  <h1>Goodlist Top Places</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Votes</th>
      <th>Place</th>
      <th>Why is it Good?</th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.votes.count %></td>
        <td><%= link_to place.title, place %></td>
        <td><%= truncate(place.content, length: 100) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Place', new_place_path %>

</div>