<%if notice.present? %>
	<p class="alert alert-info">
		<%= notice %>
	</p>
<% end %>

<%= render 'place', place: @place %>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>